.container {
  overflow: hidden;
  background-image: url('/assets/star-bg.jpg');
}

.star_bg {
  background-image: url('/assets/star.png');
}

.section_container {
  position: relative;
  width: 100%;
}

.section_container.top {
  min-height: 300dvh;
}

.section_container.top h1.title {
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 35dvh;
  font-size: 30px;
  font-weight: 400;
}

.section_container.top h1.title div {
  display: inline-block;
  letter-spacing: -2px;
}

.section_container.bottom {
  background: url('/assets/island.png') center bottom/300% no-repeat;
  min-height: 100dvh;
  border: solid 1px orange;
}

.section_container.bottom .cont_wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  // border: solid 1px red;
}

.card_wrap {
  display: block;
  width: fit-content;
  height: fit-content;
  border: solid 1px blue;
  width: 100%;
  height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
}

.section_container.bottom .cont_wrap h2 {
  text-align: center;
  color: #fff;
  font-weight: $font-weight-bold;
}
