.mobile_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 340px;
  max-width: 430px;

  height: 100dvh;
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  view-transition-name: "transition_layout";
  &::-webkit-scrollbar {
    display: none;
  }
}
