@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.info_item {
  opacity: 0;
  animation: slideInLeft 0.6s cubic-bezier(0.23, 1.05, 0.32, 1) forwards;
  @include align-items-center;
  justify-content: space-between;
  font-size: 15px;
  padding: 3px 0;
}

.info_label {
  color: #808080;
  font-weight: $font-weight-regular;
  flex: 1;
}

.info_value {
  font-weight: $font-weight-semibold;
}

.discount {
  color: #4d4dff;
  font-weight: $font-weight-semibold;
}
