.button_container{
    width: 100%;
    height: 48px;
    // margin: 20px 0 16px 0;
    margin-top: 10px;
    @include flex-center;
    
    button{
        width: 100%;
        padding: 14px 24px;
        border-radius: $radius-md;
        background-color: $color-primary;
        @include flex-center;
        // transition: width 0.5s ease, height 0.5s ease, border-radius 0.5s ease;
        // transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
        
        span{
            color: $color-bg;
            font-size: 17px;
            font-weight: $font-weight-semibold;
        }
    }
    
    .rocket{
        position: absolute;
        animation: launch 1.5s ease-out forwards;
        // animation-delay: 0.3s;
        // margin-bottom: 90px;
        
        .body{
            width: 80px;
            height: 150px;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            background: linear-gradient(to bottom, #4A90E2, #2C3E50);
            // box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.2),
                                // 5px 5px 15px rgba(0, 0, 0, 0.4);
            // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        }
        
        // .window{
        //     position: absolute;
        //     width: 40px;
        //     height: 40px;
        //     border-radius: 100%;
        //     border: 3px solid #bdc3c7;
        //     background: radial-gradient(circle at 30% 30%, #ecf0f1, #bdc3c7);
        //     left: calc(50% - 20px);
        //     top: 40px;
        //     box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
        // }
        
        .finleft,
        .finright{
            position: absolute;
            width: 50px;
            height: 50px;
            top: calc(100% - 55px);
            z-index: -100;
            
        }
        
        .finleft{
            border-top-left-radius: 80%;
            border-bottom-left-radius: 20%;
            background: linear-gradient(to bottom right, #95a5a6, #7f8c8d);
            left: -25px;
            box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
        }    
        
        .finright{
            border-top-right-radius: 80%;
            border-bottom-right-radius: 20%;
            background: linear-gradient(to bottom left, #95a5a6, #7f8c8d);
            right: -25px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
    }
    
    .round{
        width: 0px;
        height: 40px;
        border-radius: 100%;
        position: relative;
        z-index: 900;
        background: radial-gradient(circle at 30% 30%, #ecf0f1, #bdc3c7);
        border: 3px solid #bdc3c7;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
        top: -15px;
        animation: launch 1.5s ease-out forwards;
        animation-delay: 0.1s;

        // position: absolute;
    }
}

@keyframes launch{
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(-900px);
    }
}