.storeButtonBox{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 100%;
    height: 67px;
    background-color: $color-bg;
    padding: 14px 18px 15px 18px;
    margin: 0 auto;
}