.payment_info{
    background-color: $color-primary;
    width: 335px;
    height: 100px;
    padding: 20px;
    border-radius: $radius-md;
    display: flex;
    flex-flow: column;
    gap: 12px;
    // position: sticky;
    // top: 0;
    // z-index: 10;

    .store_info{
        width: 100%;
        height: 24px;
        gap: 8px;
        padding: 10px;
        @include align-items-center;
        
        img{
            width: 24px;
            height: 24px;
        }
        
        p{
            height: 24px;
            color: #FAFCFF;
            font-size: 20px;
            font-weight: $font-weight-semibold;
            @include flex-center;
        }
    }

    .payment_amount{
        width: 100%;
        height: 24px;
        padding: 10px;
        @include align-items-center;
        justify-content: space-between;

        p:nth-of-type(1){
            color: #FAFCFF;
            font-size: 14px;
            font-weight: $font-weight-medium;
        }
        p:nth-of-type(2){
            color: $color-bg;
            font-size: 20px;
            font-weight:$font-weight-bold;
        }
    }
}