// 라이트모드 컬러
$color-primary: #528eff; // 메인 파란색 (Toss Blue)
$color-secondary: #e5f1fe; // 세컨더리 하늘색
$color-bg: #ffffff; // 기본 배경 (흰색)

// 다크모드 컬러
$color-dark-bg: #17171c; // 다크모드 배경 (검은색)
$color-dark-box: #2c2c35; // 다크모드 박스 (진한 회색)
$color-dark-text: #ffffff; // 다크모드 텍스트 (흰색)

// 폰트 굵기
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// 모서리
$radius-sm: 12px;
$radius-md: 16px;
$radius-lg: 20px;
