.delete {
  font-size: 14px;
  color: #666666;
}

.cartContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-bg;

  &.dark_mode {
    background-color: $color-dark-bg;
    color: $color-dark-text;
    
    header {
      background-color: $color-dark-bg;
      color: $color-dark-text;
    }

    .delete {
      color: $color-dark-text;
    }
  }
}
