.delete {
  font-size: 14px;
  color: #666666;
}

.cartContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-bg;

  &.dark_mode {
    background-color: $color-dark-bg;
    color: $color-dark-text;

    :global(header) {
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 430px;
      margin: 0 auto;
      padding: 0 10px;
      box-sizing: border-box;
      z-index: 100;
    }

    header {
      background-color: $color-dark-bg;
      color: $color-dark-text;
    }

    .delete {
      color: $color-dark-text;
    }
  }
}
