.payment_method_container{
    background-color: $color-secondary;
    width: 100%;
    height: 80px;
    border-radius: $radius-md;
    gap: 20px;
    // margin: 0px 20px 16px 20px;
    margin-bottom: 16px;
    @include flex-center;
    
    box-shadow: inset 0 0 0 0px $color-primary;
    transition: box-shadow 0.3s ease;
    // display: none;

    &:hover{
        box-shadow: inset 0 0 0 2px $color-primary;
    }
    
    &.selected{
        box-shadow: inset 0 0 0 2px $color-primary;
    }
    
    
    div{
        width: 200px;
        height: 40px;
        // padding: 0 10px;
        gap: 12px;
        @include align-items-center;
        
        
        img{
            width: 40px;
            height: 40px;
            border-radius: 8px;
            
        }
        
        .payment_method_info:nth-of-type(1){
            width: 130px;
            height: 56px;
            padding: 10px;
            @include flex-center;
            flex-flow: column;
            gap: 4px;
            font-weight: $font-weight-bold;

            p:nth-of-type(1){
                width: 100%;
                height: 19px;
                color: #262626;
                font-size: 16px;
                font-weight:$font-weight-semibold;
                @include align-items-center;
            }
            
            p:nth-of-type(2){
                width: 100%;
                // height: 14px;
                color: #808080;
                font-size: 12px;
                font-weight:$font-weight-regular;
                @include align-items-center;
            }
            
        }
        .payment_method_info:nth-of-type(2){
            width: 130px;
            height: 56px;
            padding: 10px;
            @include flex-center;
            flex-flow: column;
            gap: 4px;
            
            p:nth-of-type(1){
                width: 100%;
                height: 19px;
                color: #262626;
                font-size: 16px;
                font-weight:$font-weight-semibold;
                @include align-items-center;
            }
            
            p:nth-of-type(2){
                width: 100%;
                height: 14px;
                color: #808080;
                font-size: 12px;
                font-weight:$font-weight-regular;
                @include align-items-center;
            }
        }   

        .payment_method_info.payment_method_info_dark_mode{
            p:nth-of-type(1){
                // color: $color-bg;
                color: $color-dark-text;
            }
            p:nth-of-type(2){
                color: #BABABD;
            }

        }  
    }
    
    .check{
        width: 75px;
        height: 40px;
        @include flex-center;
        
        .selected{
            padding: 10px 7.5px;
            gap: 8px; 
            
            img{
                width: 20px;
                height: 20px;
            }
            
            p{
                width: 100%;
                height: 14px;
                font-size: 12px;
                font-weight: $font-weight-medium;
                color: $color-primary;
                white-space: nowrap;
                @include flex-center;
            }
        }
        
        .unselected{
            display: flex;
            justify-content: flex-end;
            padding: 0;
            
            img{
                width: 17px;
                height: 21px;
            }
        }
    }
}

.payment_method_container:last-child{
    margin-bottom: 20px;
}

.dark_mode{
    background-color: $color-dark-box;
 }