.transfer_container {
  position: relative;
  padding: 0 20px;
}

.accountBox {
  position: absolute;
  width: calc(100% - 40px);
  top:120px;
}

.sectionTitle {
  position: absolute;
  font-weight: bold;
  left: 24px;
  top: 320px;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
}

.infoCard {
  position: absolute;
  background-color: #e5f1fe;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 301px;
  align-items: center;
  justify-content: flex-start;
  left: 19px;
  top: 364px;
  width: calc(100% - 40px);
  padding: 24px;
  border-radius: 20px;

  transform-origin: bottom; /* 오른쪽 아래 기준 */
  transition: transform 0.5s ease; /* 애니메이션 시간과 타이밍 함수 */

  &.reduce {
    transform: scale(0.01); /* 크기를 50%로 줄임 */
  }
}

.infoCardTitle {
  font-weight: 500;
  color: #808080;
  font-size: 16px;
  flex-shrink: 0;
}

.amount {
  font-weight: bold;
  color: #528eff;
  display: flex;
  font-size: 36px;
  flex-shrink: 0;
  white-space: nowrap;

  input {
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 5px;
    font-size: 20px;
    text-align: right;

    &:focus {
      outline: none;
      border-color: #528eff;
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.divider {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 287px;
  flex-shrink: 0;
}

.detailsList {
  background-color: #e5f1fe;
  height: 152px;
  width: 100%;
  flex-shrink: 0;
}

.detailsContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 152px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 5px;
  width: 100%;
}

.detailItem {
  background-color: #e5f1fe;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  font-size: 15px;
}

.detailLabel {
  font-weight: 400;
  color: #808080;
  flex-shrink: 0;
}

.detailValue {
  font-weight: 600;
  color: #000000;
  flex-shrink: 0;
  
  input {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;

    &:focus {
      outline: none;
      border-color: #528eff;
    }
  }
}

.detailValueBlue {
  color: #528eff;
}

.card_icon {
  position: absolute;
  color: #528eff;
  top: 650px;
  font-size: 40px;
  width: calc(100% - 40px);
  text-align: center;
  opacity: 0;
  transform: rotateZ(-10deg);
  transition: opacity 0.5 ease;

  &.visible {
    opacity: 1;
  }
}

.buttonGroup {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 52px;
  width: calc(100% - 40px);
  align-items: center;
  justify-content: space-around;
  top: 740px;
  padding: 10px;
}

.cancelButton {
  background-color: #ebebeb;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 16px;
  width: 120px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
}

.cancelButtonText {
  font-weight: 600;
  color: #333333;
  font-size: 16px;
  white-space: nowrap;
}

.confirmButton {
  background-color: #528eff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 16px;
  width: 203px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
}

.confirmButtonText {
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
}


.coin {
  margin-left: 50px;
  margin-top: 50px;
  animation: xAxis 4.5s
  // animation: xAxis 4.5s cubic-bezier(0.02, 0.01, 0.21, 1) forwards;
  /* coin 자체의 x축 이동 애니메이션 */
}

.coin::after {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  background-color: lightpink;
  animation: yAxis 4.5s
  // animation: yAxis 4.5s cubic-bezier(0.3, 0.27, 0.07, 1.64) forwards;
  /* y축 이동 애니메이션 */
}

@keyframes yAxis {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(550px);
  }
  70% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(300px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(550px);
  }
}

@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(25px);
  }
  70% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(50px);
  }
  100% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(100px);
  }
}