.home_container {
  position: relative;
  background-color: #ffffff;
  padding: 0 20px;

  .wrapper {
    position: absolute;
    inset: 0;
    background: #000000;
    clip-path: circle(0% at 80% 10%);
    transition: clip-path 2s ease-out;
    z-index: 0;

    &.dark_mode {
      clip-path: circle(130% at 80% 10%);
    }
  }

  .home_menu {
    position: absolute;
    width: calc(100% - 40px);
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
      mix-blend-mode: difference;
      font-size: 27px;
      font-weight: $font-weight-bold;
      color: rgb(168, 110, 0);
    }

    button>img {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 16px;
    }
  }

  .accountBox {
    margin-top: 120px;
  }

  .service_menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;

    p {
      font-size: 20px;
      font-weight: $font-weight-bold;
      color: #ffffff;
      mix-blend-mode: difference;
    }
  }

  .transection_menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;
    mix-blend-mode: difference;      

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p:nth-of-type(1) {
        font-size: 20px;
        font-weight: $font-weight-bold;
        color: #ffffff;
      }

      a {
        font-size: 16px;
        color: rgb(168, 110, 0);
      }
    }
  }
}