.home_container {
  position: relative;
  background-color: #ffffff;
  padding: 0 20px;

  .wrapper {
    position: absolute;
    padding: 0 20px;
    inset: 0;
    background: #000000;
    clip-path: circle(0% at 91.75% 8.7%);
    transition: clip-path 1s ease-out;
    z-index: 0;

    &.dark_mode {
      clip-path: circle(130% at 80% 10%);
    }

    .home_menu {
      position: absolute;
      z-index: 0;
      left: 20px;
      
      p {
        font-size: 27px;
        font-weight: $font-weight-bold;
        color: #ffffff;
      }
    }

    .account_box_dark {
      position: absolute;
      z-index: 0;
      margin-top: 120px;
      width: calc(100% - 40px);
      left: 20px;
      height: 180px;
      padding: 24px;
      border-radius: $radius-lg;
      background-color: rgb(213, 155, 74);
    }

    .small_square_box_dark {
      margin-top: 362px;
    }
  }

  .home_menu {
    position: absolute;
    width: calc(100% - 40px);
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
      font-size: 27px;
      font-weight: $font-weight-bold;
      color: rgb(168, 110, 0);
      mix-blend-mode: difference;
    }

    button>img {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 16px;
    }
  }

  .accountBox {
    margin-top: 120px;
  }

  .service_menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;

    p {
      font-size: 20px;
      font-weight: $font-weight-bold;
      color: #ffffff;
    }

    p:nth-of-type(1) {
      mix-blend-mode: difference;
    }
  }

  .transection_menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 20px;
        font-weight: $font-weight-bold;
        color: #ffffff;
        mix-blend-mode: difference;      
      }

      a {
        font-size: 16px;
        color: rgb(168, 110, 0);
        mix-blend-mode: difference;      
      }
    }
  }
}