.login_container {
  position: relative;
  padding: 0 20px;
  
  .logo_section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  
  .text_area {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    
    &.moveUp {
      animation: moveUp 1.0s 3.7s forwards;
    }
    
    span {
      color: #528eff;
      opacity: 0;
      transform: translate(-300px, 0) scale(0);
      animation: animate 3s forwards;
      display: inline-block;
    }
    
    span:nth-of-type(2) { animation-delay: .1s; }
    span:nth-of-type(3) { animation-delay: .2s; }
    span:nth-of-type(4) { animation-delay: .3s; }
    span:nth-of-type(5) { animation-delay: .4s; }
    span:nth-of-type(6) { animation-delay: .5s; }
    
    @keyframes animate {
      60% {
        transform: translate(20px, 0) scale(1);
        color: #e5f1fe;
        opacity: 1;
      }
      80% {
        transform: translate(20px, 0) scale(1);
        color: #e5f1fe;
      }
      98% {
        transform: translate(0) scale(1.2);
        color: #528eff;
      }
      99% {
        transform: translate(0) scale(1.1);
        color: #528eff;
      }
      100% {
        transform: translate(0) scale(1);
        opacity: 1;
        color: #528eff;
      }
    }
    
    @keyframes moveUp {
      to {
        transform: translateY(-150px);
      }
    }
  }
  
  .login_section {
    position: relative;
    margin-top: 250px;
    width: calc(100% - 40px);
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &.growUp {
      transform: scale(0);
      opacity: 0;
      animation: growUp 1.5s 3.7s forwards;

      @keyframes growUp {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        60% {
          opacity: 0.5;
        }
        97% {
          transform: scale(1.03);
          opacity: 0.9;
        }
        98% {
          transform: scale(1.025);
          opacity: 1;
        }
        99% {
          transform: scale(1.02);
          opacity: 1;
        }
        97% {
          transform: scale(1.015);
          opacity: 0.9;
        }
        98% {
          transform: scale(1.01);
          opacity: 1;
        }
        99% {
          transform: scale(1.005);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    
    .input_part {
      display: flex;
      flex-direction: column;
      gap: 12px;

      input {
        border: 1px solid #D9DEE5;
        height: 45px;
        border-radius: 10px;
        padding: 10px;
        outline: none;

        &:focus {
          border-color: #528eff;
        }
        
        ::placeholder {
          color: #D9DEE5;
        }
      }
    }

    .button_part {
      display: flex;
      flex-direction: column;
      gap: 8px;

      button {
        height: 38px;
        width: 100%;
        border-radius: 10px;
        align-content: center;
      }

      .login_btn{        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        transition: border-color 1s;

        >span {
          position: absolute;
          margin-top: 4px;
          color: #fff;
          transition: color 1s;
          font-size: 20px;
        }
        
        div {
          display: flex;
          border-radius: 10px;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: #fff;
          background-color: #528eff;
          
          transition: transform 1.0s cubic-bezier(0.4,0.2,0.2,1);
          transform-origin: top center;
          transform: rotateX(0deg);
          will-change: transform;
          perspective: 1000px;
          
          span {
            font-size: 14px;
          }
        }

        &:hover {
          border: 1px solid #D9DEE5;
          
          >span {
            color: #808080;
          }

          div{
            transform: rotateX(90deg);
          }
        }
      }
      
      .signup_btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        transition: border-color 1s;

        >span {
          position: absolute;
          margin-top: 4px;
          color: #fff;
          transition: color 1s;
          font-size: 24px;
        }

        div {
          display: flex;
          border-radius: 10px;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;          
          color: #528eff;
          background-color: #e5f1fe;
          
          transition: transform 1.0s cubic-bezier(0.4,0.2,0.2,1);
          transform-origin: bottom center;
          transform: rotateX(0deg);
          will-change: transform;
          perspective: 1000px;
          
          span {
            font-size: 14px;
          }
        }

        &:hover {
          border: 1px solid #D9DEE5;
          
          >span {
            color: #808080;
          }

          div{
            transform: rotateX(90deg);
          }
        }
      }
    }

    .qna_part {
      font-size: 10px;
      color: #808080;
      text-decoration: underline;
      text-align: right;
    }
  }
}