.rocket{
    position: absolute;
    // animation-delay: 1s;
        
    .rocket_container{
        // animation: launch 2.5s ease-out forwards;
        // animation: launch 2.5s cubic-bezier(0.64, 0, 0.78, 0) forwards;
        // animation: launch 2.5s cubic-bezier(0, 0, 1, 1) forwards;
        animation: launch 2.5s cubic-bezier(0.0, 0.5, 0.5, 1.0) forwards;

        .rocket_body{
            width: 120px;
            height: 380px;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            border-bottom-left-radius: 60%;
            border-bottom-right-radius: 60%;
            clip-path: ellipse(50% 50% at 50% 80%);
            background: linear-gradient(to bottom, #214A80 45%, #C2DDF8 20%);
            box-shadow:
                inset -3px -3px 6px rgba(255, 255, 255, 0.8),
                inset 3px 3px 8px rgba(100, 120, 150, 0.1);
            z-index: 100;
                
            .rocket_window{
                position: absolute;
                width: 65px;
                height: 65px;
                border-radius: 100%;
                border: 10px solid #214A80;
                background: radial-gradient(circle at 30% 30%, #ffffff, #81d4fa);
                top: 200px;
                left: calc(50% - 32px);
                @include flex-center;
                    
                // background: radial-gradient(circle at 30% 30%, #ecf0f1, #bdc3c7);
                    
                img{
                    width: 35px;
                    height: 35px;
                }
            }
                
            .rocket_footer{
                position: absolute;
                width: 65px;
                height: 18px;
                left: calc(50% - 33px);
                border-radius: 50%;
                background-color: #214A80;
                top: 370px;
                z-index: 5;
                    
                clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
            }
        }
                    
        .rocket_finfront,
        .rocket_finleft,
        .rocket_finright{
            position: absolute;
            width: 120px;
            height: 80px;
            // top: calc(100% - 250px);
            top: calc(100% - 80px);
            z-index: -200;
            background-color: #84B4FE;
                    
            box-shadow:
                inset -2px -2px 6px rgba(255, 255, 255, 0.8),
                inset 2px 2px 8px rgba(100, 120, 150, 0.1);
        }
                
        .rocket_finfront{
            width: 30px;
            height: 110px;
            right: 45px;
            z-index: 100;
            clip-path: ellipse(30% 50% at 50% 50%);   
        }
                
        .rocket_finleft{
            border-top-left-radius: 100%;
            border-bottom-right-radius: 10%;
            transform: rotate(-30deg);
            left: -50px;
        }       
                
        .rocket_finright{
            border-top-right-radius: 100%;
            border-bottom-left-radius: 10%;
            transform: rotate(30deg);
            right: -50px;
        }
            
        .flame{
            width: 40px;
            height: 150px;
            background: linear-gradient(#ff9900, #ff3300);
            position: absolute;
            top: 370px;
            left: 40px;
            border-radius: 0% 0% 100% 100%;
            animation: flame-flicker 0.3s infinite alternate;
            z-index: -200;
        }
    }

    .exhaust_fumes {
        position: fixed;
        bottom: 400px;
        // bottom: -330px;
        opacity: 0;
        animation: showSmoke 0.5s ease forwards;
        animation-delay: 0.8s;

        li{
            width: 60px;
            height: 60px;
            background-color: #f5f5f5;
            list-style: none;
            position: absolute;
            border-radius: 100%;

            &:first-child{
                width: 150px;
                height: 150px;
                bottom: -400px;
                animation: fumes 4s infinite;
            }
            &:nth-child(2){
                width: 150px;
                height: 150px;
                left: -120px;
                top: 260px;
                animation: fumes 3.2s infinite;                
            }
            &:nth-child(3){
                width: 120px;
                height: 120px;
                left: -40px;
                top: 330px;
                animation: fumes 3s 1s infinite;                
            }
            &:nth-child(4){
                width: 100px;
                height: 100px;
                left: -170px;
                top: 380px;
                animation: fumes 4s 2s infinite;                
            }
            &:nth-child(5){
                width: 130px;
                height: 130px;
                left: -120px;
                top: 350px;
                animation: fumes 5s infinite;                
            }
            &:nth-child(6){
                width: 200px;
                height: 200px;
                left: -60px;
                top: 280px;
                animation: fumes2 10s infinite;                
            }
            &:nth-child(7){
                width: 100px;
                height: 100px;
                left: -100px;
                top: 320px;                
            }
            &:nth-child(8){
                width: 110px;
                height: 110px;
                left: 70px;
                top: 340px;                
            }
            &:nth-child(9){
                width: 100px;
                height: 100px;
                left: 160px;
                top: 380px;
                animation: fumes 20s infinite;                
            }
        }
    }
}


@keyframes launch{
    0% {
        // transform: translate(0, 0) rotate(0deg);
        transform: translate(0, 0) rotate(0deg);
    }
    80%{
        transform: translate(0, -350px) rotateY(10deg);
    }
    100%{
        transform: translate(400px, -1000PX) rotate(30deg);
    }
}

  @keyframes flame-flicker {
    0% { 
        transform: scaleY(1); 
        opacity: 0.9;
    }
    100% { 
        transform: scaleY(1.2); 
        opacity: 0.6;
    }
    
  }

  @keyframes fumes {
    50% {
        transform: scale(1.5);
        background-color: transparent;
    }
    
    51% {
        transform: scale(0.8);
    }
    
    100% {
        background-color: #f5f5f5;
        transform: scale(1);
    }
}

// @keyframes exhaust {
//   0% {
//     background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
//   }

//   50% {
//     background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%);
//   }

//   75% {
//     background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%);
//   }
// }

@keyframes fumes2 {
  50% {
    transform: scale(0.8);
  }
}

@keyframes bounce{
    0%{
        transform: translate3d(0px, 0px, 0);
    }

    50%{
        transform:  translate3d(0px, -4px, 0);
    }

    100%{
        transform: translate3d(0px, 0px, 0);
    }
}

@keyframes showSmoke{
    to{
        opacity: 1;
    }
}